.datepicker-widget{
    /* required for the Datepicker plugin to function correctly */
    position: absolute;
    min-width: 0px;
    min-height: 0px;

    padding: 5px;
    background-color: var(--interactive-accent-hover);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.datepicker-button{
    --icon-size: 14px;
    margin-left: 4px;
    margin-right: 6px;
}